.Header {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.LogIn {
  align-items: center;
}
.logInContainer {
  width: 550px;
  border: 1px;
  border-color: black;
  border-style: solid;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
.inputContainer {
  height: 20px;
  flex-direction: row;
  width: 530px;
  margin-bottom: 10px;
}
.title {
  width: 200px;
  height: 20px;
  display: inline-flex;
}
.text {
  margin-left: auto;
}
.input {
  height: 20px;
  width: 250px;
  border-color: black;
  border-width: 1px;
  margin-left: 10px;
  padding-left: 10px;
}
.buttonContainer {
  text-align: center;
  margin-top: 20px;
}
.loginButton {
  padding: 10px;
  width: 100px;
  font-size: 14px;
}
.button {
  font-size: 14px;
}
.expert {
  font-size: 14px;
  margin-left: 10px;
}
.checkboxContainer {
  height: 20px;
  flex-direction: row;
  width: 530px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.checkbox {
  width: 14px;
  height: 14px;
}
.radioContainer {
  flex-direction: row;
  width: 530px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.radioForm {
  display: inline-flex;
  width: 250px;
  margin-left: 10px;
  flex-direction: column;
}
.radioText {
  margin-left: 10px;
}